In [8]:
import pandas as pd

In [9]:
lst = {'text':['people watch youtube','youtube watch youtube','people write comment','youtube write comment'],
'output':[0,0,1,1]}

In [10]:
df = pd.DataFrame(lst)

In [11]:
df

                    text  output
0   people watch youtube       0
1  youtube watch youtube       0
2   people write comment       1
3  youtube write comment       1

## Bag of words

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [14]:
bow = cv.fit_transform(df['text'])

In [15]:
cv.vocabulary_

{'people': 1, 'watch': 2, 'youtube': 4, 'write': 3, 'comment': 0}

In [16]:
bow[0].toarray()  # 'people watch youtube' converted form to vector

array([[0, 1, 1, 0, 1]], dtype=int64)

In [17]:
bow[1].toarray()  # 'youtube watch youtube'

array([[0, 0, 1, 0, 2]], dtype=int64)

In [18]:
cv.transform(['youtube is a watch platform']).toarray() # new sentence

array([[0, 0, 1, 0, 1]], dtype=int64)

- we can see it can change new sentence to vector but problem is it ignores new word if any unlike OHE will not show error but will ignore.
- if new word has some information it will not capture it, only looks in it's vocabulary
- there is no ordering of text

## N-grams

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv_gram = CountVectorizer(ngram_range=(2,2))  # (2,2) represents bigram 1,1 mean unigram 3,3 mean trigram 1,2 mean uni and bi both

In [22]:
bow = cv_gram.fit_transform(df['text'])
cv_gram.vocabulary_

{'people watch': 0,
 'watch youtube': 2,
 'youtube watch': 4,
 'people write': 1,
 'write comment': 3,
 'youtube write': 5}

In [23]:
bow[0].toarray()  # 'people watch youtube' converted form to vector

array([[1, 0, 1, 0, 0, 0]], dtype=int64)

In [24]:
bow[1].toarray()  # 'youtube watch youtube'

array([[0, 0, 1, 0, 1, 0]], dtype=int64)

## Tf-Idf [Term Freq. - Inverse Document Freq.]

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer()

In [27]:
tf_idf.fit_transform(df['text']).toarray()

array([[0.        , 0.61366674, 0.61366674, 0.        , 0.49681612],
       [0.        , 0.        , 0.52546357, 0.        , 0.8508161 ],
       [0.57735027, 0.57735027, 0.        , 0.57735027, 0.        ],
       [0.61366674, 0.        , 0.        , 0.61366674, 0.49681612]])

In [44]:
print(tf_idf.idf_)
print(tf_idf.get_feature_names_out())

[1.51082562 1.51082562 1.51082562 1.51082562 1.22314355]
['comment' 'people' 'watch' 'write' 'youtube']