In [1]:
import pandas as pd
import requests

Now we will use get to hit the api and request for data.

In [5]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [28]:
pd.DataFrame(response.json()['results'])[['title','overview','genre_ids','vote_average']]

,title,overview,genre_ids,vote_average
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]",8.700
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",8.686
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]",8.571
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",8.565
4,12 Angry Men,The defense and the prosecution have rested an...,[18],8.548
5,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]",8.535
6,The Dark Knight,Batman raises the stakes in his war on crime. ...,"[18, 28, 80, 53]",8.522
7,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[35, 18, 10749]",8.515
8,The Green Mile,A supernatural tale set on death row in a Sout...,"[14, 18, 80]",8.503
9,Parasite,"All unemployed, Ki-taek's family takes peculia...","[35, 53, 18]",8.498
10,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,"[12, 14, 28]",8.500
11,Pulp Fiction,"A burger-loving hit man, his philosophical par...","[53, 80, 35, 18]",8.487
12,Your Name.,High schoolers Mitsuha and Taki are complete s...,"[16, 10749, 18]",8.481
13,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,[37],8.465
14,Forrest Gump,A man with a low IQ has accomplished great thi...,"[35, 18, 10749]",8.465
15,Interstellar,The adventures of a group of explorers who mak...,"[12, 18, 878]",8.460
16,Seven Samurai,A samurai answers a village's request for prot...,"[28, 18]",8.456
17,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...","[18, 80]",8.455
18,Grave of the Fireflies,"In the final months of World War II, 14-year-o...","[16, 18, 10752]",8.400
19,Life Is Beautiful,A touching story of an Italian book seller of ...,"[35, 18]",8.442

In [16]:
df = pd.DataFrame()

In [60]:
df_list = []

for i in range(1,501):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    if response.status_code == 200:
        temp_df = pd.DataFrame(response.json()['results'])[['title','overview','genre_ids','vote_average']]
        df_list.append(temp_df)
    else:
        print(f"Failed to retrieve data for page {i}. Status code: {response.status_code}")

df = pd.concat(df_list, ignore_index=True)

In [62]:
df.head()

,title,overview,genre_ids,vote_average
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]",8.700
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",8.686
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]",8.571
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",8.565
4,12 Angry Men,The defense and the prosecution have rested an...,[18],8.548

In [64]:
df.shape

(10000, 4)

## Mapping genre_id to the genre name from genre api

In [32]:
response_2 = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')

In [68]:
genre = pd.DataFrame(response_2.json()['genres'], index=None)

In [110]:
genre_dict = dict(zip(genre["id"], genre["name"]))

In [112]:
genre_dict

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [115]:
df['genre_names'] = df['genre_ids'].apply(lambda ids: [genre_dict[i] for i in ids if i in genre_dict])

In [117]:
df.head()

,title,overview,genre_ids,vote_average,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]",8.700,"[Drama, Crime]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",8.686,"[Drama, Crime]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]",8.571,"[Drama, Crime]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",8.565,"[Drama, History, War]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],8.548,[Drama]

In [119]:
df['genre_names'] = df['genre_names'].apply(lambda x: ", ".join(x))

In [121]:
df.head()

,title,overview,genre_ids,vote_average,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]",8.700,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",8.686,"Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]",8.571,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",8.565,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],8.548,Drama

In [125]:
## drop genre id
df.drop('genre_ids', axis=1, inplace=True)

In [127]:
df.head()

,title,overview,vote_average,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.700,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.686,"Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.571,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,8.565,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,8.548,Drama

In [129]:
df.to_csv('IMDB 10000 Movie Data for NLP', index=False)

# NLP Preprocessing

## 1. Lowercasing

In [213]:
df['overview'] = df['overview'].str.lower()
df['genre_names'] = df['genre_names'].str.lower()
df.head()

,title,overview,vote_average,genre_names
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,8.700,drama crime
1,The Godfather,spanning the years 1945 to 1955 a chronicle of...,8.686,drama crime
2,The Godfather Part II,in the continuing saga of the corleone crime f...,8.571,drama crime
3,Schindler's List,the true story of how businessman oskar schind...,8.565,drama history war
4,12 Angry Men,the defense and the prosecution have rested an...,8.548,drama

## 2. HTML Tags

In [157]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [161]:
text1 = '<br /><br /> Hi how are you </body>'
text2 = '<b>This text is bold</b> what happen <strong>This text is important!</strong><i>This text is italic</i><em>This text is emphasized</em><p>Do not forget to buy <mark>milk</mark> today.</p>'
remove_html_tags(text2)

'This text is bold what happen This text is important!This text is italicThis text is emphasizedDo not forget to buy milk today.'

In [165]:
df['overview'] = df['overview'].apply(remove_html_tags)

## 3. Remove URL's

In [184]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [188]:
text = 'welcome to the club. visit www.nlphome.come or https://api.themoviedb.org/3/movie/page=2 here we will learn about nlp text preprocessing http://geeksforgeeks.org this will help in practice. www.lifeishell.org.net and www.udemy.net.'
remove_url(text)

'welcome to the club. visit  or  here we will learn about nlp text preprocessing  this will help in practice.  and '

## Contractions
 - words like can't, it's **expanded** to can not and it is for better interpretation.

In [3]:
import contractions
def expand_short_words(text:str) -> str: #text as input str showing string type & ->str means output as str type
    return contractions.fix(text)

In [9]:
expand_short_words("im")

'i am'

## 4. Remove Punctuation

In [191]:
# one way
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [193]:
exclude = string.punctuation
def remove_punc0(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [195]:
text = 'toaday, people use emoji instead of words, so funny!! what you say? tell me.'
remove_punc0(text)

'toaday people use emoji instead of words so funny what you say tell me'

In [199]:
# Faster way

def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [201]:
remove_punc(text)

'toaday people use emoji instead of words so funny what you say tell me'

In [209]:
df['overview'] = df['overview'].apply(remove_punc)
df['genre_names'] = df['genre_names'].apply(remove_punc)

In [215]:
df.head(2)

,title,overview,vote_average,genre_names
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,8.700,drama crime
1,The Godfather,spanning the years 1945 to 1955 a chronicle of...,8.686,drama crime

## 5. Chat Word Treatment
- Shortcuts like gn, rofl, lol, asap, fyi etc.

In [222]:
chat_words = {
    "$" : " dollar ",
    "â‚¬" : " euro ",
    "4ao" : "for adults only",
    "a.m" : "before midday",
    "a3" : "anytime anywhere anyplace",
    "aamof" : "as a matter of fact",
    "acct" : "account",
    "adih" : "another day in hell",
    "afaic" : "as far as i am concerned",
    "afaict" : "as far as i can tell",
    "afaik" : "as far as i know",
    "afair" : "as far as i remember",
    "afk" : "away from keyboard",
    "app" : "application",
    "approx" : "approximately",
    "apps" : "applications",
    "asap" : "as soon as possible",
    "asl" : "age, sex, location",
    "atk" : "at the keyboard",
    "ave." : "avenue",
    "aymm" : "are you my mother",
    "ayor" : "at your own risk", 
    "b&b" : "bed and breakfast",
    "b+b" : "bed and breakfast",
    "b.c" : "before christ",
    "b2b" : "business to business",
    "b2c" : "business to customer",
    "b4" : "before",
    "b4n" : "bye for now",
    "b@u" : "back at you",
    "bae" : "before anyone else",
    "bak" : "back at keyboard",
    "bbbg" : "bye bye be good",
    "bbc" : "british broadcasting corporation",
    "bbias" : "be back in a second",
    "bbl" : "be back later",
    "bbs" : "be back soon",
    "be4" : "before",
    "bfn" : "bye for now",
    "blvd" : "boulevard",
    "bout" : "about",
    "brb" : "be right back",
    "bros" : "brothers",
    "brt" : "be right there",
    "bsaaw" : "big smile and a wink",
    "btw" : "by the way",
    "bwl" : "bursting with laughter",
    "c/o" : "care of",
    "cet" : "central european time",
    "cf" : "compare",
    "cia" : "central intelligence agency",
    "csl" : "can not stop laughing",
    "cu" : "see you",
    "cul8r" : "see you later",
    "cv" : "curriculum vitae",
    "cwot" : "complete waste of time",
    "cya" : "see you",
    "cyt" : "see you tomorrow",
    "dae" : "does anyone else",
    "dbmib" : "do not bother me i am busy",
    "diy" : "do it yourself",
    "dm" : "direct message",
    "dwh" : "during work hours",
    "e123" : "easy as one two three",
    "eet" : "eastern european time",
    "eg" : "example",
    "embm" : "early morning business meeting",
    "encl" : "enclosed",
    "encl." : "enclosed",
    "etc" : "and so on",
    "faq" : "frequently asked questions",
    "fawc" : "for anyone who cares",
    "fb" : "facebook",
    "fc" : "fingers crossed",
    "fig" : "figure",
    "fimh" : "forever in my heart", 
    "ft." : "feet",
    "ft" : "featuring",
    "ftl" : "for the loss",
    "ftw" : "for the win",
    "fwiw" : "for what it is worth",
    "fyi" : "for your information",
    "g9" : "genius",
    "gahoy" : "get a hold of yourself",
    "gal" : "get a life",
    "gcse" : "general certificate of secondary education",
    "gfn" : "gone for now",
    "gg" : "good game",
    "gl" : "good luck",
    "glhf" : "good luck have fun",
    "gmt" : "greenwich mean time",
    "gmta" : "great minds think alike",
    "gn" : "good night",
    "g.o.a.t" : "greatest of all time",
    "goat" : "greatest of all time",
    "goi" : "get over it",
    "gps" : "global positioning system",
    "gr8" : "great",
    "gratz" : "congratulations",
    "gyal" : "girl",
    "h&c" : "hot and cold",
    "hp" : "horsepower",
    "hr" : "hour",
    "hrh" : "his royal highness",
    "ht" : "height",
    "ibrb" : "i will be right back",
    "ic" : "i see",
    "icq" : "i seek you",
    "icymi" : "in case you missed it",
    "idc" : "i do not care",
    "idgadf" : "i do not give a damn fuck",
    "idgaf" : "i do not give a fuck",
    "idk" : "i do not know",
    "ie" : "that is",
    "i.e" : "that is",
    "ifyp" : "i feel your pain",
    "ig" : "instagram",
    "iirc" : "if i remember correctly",
    "ilu" : "i love you",
    "ily" : "i love you",
    "imho" : "in my humble opinion",
    "imo" : "in my opinion",
    "imu" : "i miss you",
    "iow" : "in other words",
    "irl" : "in real life",
    "j4f" : "just for fun",
    "jic" : "just in case",
    "jk" : "just kidding",
    "jsyk" : "just so you know",
    "l8r" : "later",
    "lb" : "pound",
    "lbs" : "pounds",
    "ldr" : "long distance relationship",
    "lmao" : "laugh my ass off",
    "lmfao" : "laugh my fucking ass off",
    "lol" : "laughing out loud",
    "ltd" : "limited",
    "ltns" : "long time no see",
    "m8" : "mate",
    "mf" : "motherfucker",
    "mfs" : "motherfuckers",
    "mfw" : "my face when",
    "mofo" : "motherfucker",
    "mph" : "miles per hour",
    "mr" : "mister",
    "mrw" : "my reaction when",
    "ms" : "miss",
    "mte" : "my thoughts exactly",
    "nagi" : "not a good idea",
    "nbc" : "national broadcasting company",
    "nbd" : "not big deal",
    "nfs" : "not for sale",
    "ngl" : "not going to lie",
    "nhs" : "national health service",
    "nrn" : "no reply necessary",
    "nsfl" : "not safe for life",
    "nsfw" : "not safe for work",
    "nth" : "nice to have",
    "nvr" : "never",
    "nyc" : "new york city",
    "oc" : "original content",
    "og" : "original",
    "ohp" : "overhead projector",
    "oic" : "oh i see",
    "omdb" : "over my dead body",
    "omg" : "oh my god",
    "omw" : "on my way",
    "p.a" : "per annum",
    "p.m" : "after midday",
    "pm" : "prime minister",
    "poc" : "people of color",
    "pov" : "point of view",
    "pp" : "pages",
    "ppl" : "people",
    "prw" : "parents are watching",
    "ps" : "postscript",
    "pt" : "point",
    "ptb" : "please text back",
    "pto" : "please turn over",
    "qpsa" : "what happens", #"que pasa",
    "r" : "are",
    "ratchet" : "rude",
    "rbtl" : "read between the lines",
    "rlrt" : "real life retweet", 
    "rofl" : "rolling on the floor laughing",
    "roflol" : "rolling on the floor laughing out loud",
    "rotflmao" : "rolling on the floor laughing my ass off",
    "rt" : "retweet",
    "ruok" : "are you ok",
    "sfw" : "safe for work",
    "sk8" : "skate",
    "smh" : "shake my head",
    "sq" : "square",
    "srsly" : "seriously", 
    "ssdd" : "same stuff different day",
    "tbh" : "to be honest",
    "tbs" : "tablespooful",
    "tbsp" : "tablespooful",
    "tfw" : "that feeling when",
    "thks" : "thank you",
    "tho" : "though",
    "thx" : "thank you",
    "tia" : "thanks in advance",
    "til" : "today i learned",
    "tl;dr" : "too long i did not read",
    "tldr" : "too long i did not read",
    "tmb" : "tweet me back",
    "tntl" : "trying not to laugh",
    "ttyl" : "talk to you later",
    "u" : "you",
    "u2" : "you too",
    "u4e" : "yours for ever",
    "utc" : "coordinated universal time",
    "w/" : "with",
    "w/o" : "without",
    "w8" : "wait",
    "wassup" : "what is up",
    "wb" : "welcome back",
    "wtf" : "what the fuck",
    "wtg" : "way to go",
    "wtpa" : "where the party at",
    "wuf" : "where are you from",
    "wuzup" : "what is up",
    "wywh" : "wish you were here",
    "yd" : "yard",
    "ygtr" : "you got that right",
    "ynk" : "you never know",
    "zzz" : "sleeping bored and tired"
}

In [236]:

def char_conversion(text):
    new_text = []
    for w in text.split():
        if w.lower() in chat_words:
            new_text.append(chat_words[w.lower()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [242]:
text = 'hey buddy wassup how u doing, wanna hang out. reply ASAP . FYI we r done'
char_conversion(text)

'hey buddy what is up how you doing, wanna hang out. reply as soon as possible . for your information we are done'

## 6. Spelling Mistake
- other lib can also be used like spacy, nltk, pyspellchecker

In [251]:
from textblob import TextBlob
def spell_check(text):
    textblb = TextBlob(text)
    correct = textblb.correct().string
    return correct

In [255]:
text = 'have a nic day. Todday weathar is goud.'
spell_check(text)

'have a nice day. Today weather is good.'

## 7. Removing Stop Words

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\piyus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [33]:
from nltk.corpus import stopwords
eng_words = stopwords.words('english')

def remove_stop_words(text):
    new_text = []
    for word in text.split():
        if word not in eng_words:
            new_text.append(word)
    return " ".join(new_text)

In [35]:
text = 'World counts on India. I am a boy and we are having a blast is am are and was were has will shall of for in on'
remove_stop_words(text)

'World counts India. I boy blast shall'

## 8. Handling Emoji's

In [42]:
## Removing Emoji's

import re
def remove_emoji(text):
    emoji_pattern = re.compile("["u"\U0001F600-\U0001F64F" # emotions
                               u"\U0001F300-\U0001F5FF"    # symbols and pictographs
                               u"\U0001F680-\U0001F6FF"    # transport and map symbols
                               u"\U0001F1E0-\U0001F1FF"    # Flags
                               u"\U00002702-\U00002780"
                               u"\U000024C2-\U0001F251""]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [62]:
text = 'ðŸ‘ŒðŸ¥³ðŸ’¥ðŸ’¥ ati sundar, great teamwork guys all 4 projects completedÂ ðŸ‘ðŸ‘'
remove_emoji(text)

'ðŸ¥³ ati sundar, great teamwork guys all 4 projects completed\xa0'

In [50]:
## Replacing with text

import emoji
emoji.demojize(text)

':OK_hand_light_skin_tone::partying_face::collision::collision: ati sundar, great teamwork guys all 4 projects completed\xa0:thumbs_up::clapping_hands:'

#### removing emoji with emoji library

In [64]:
emoji.replace_emoji(text,'')

' ati sundar, great teamwork guys all 4 projects completed\xa0'